.formImageinput_image{
    display: block;
    margin: 10px 0;
    width: 150px;
    height: 120px;
    background-color: rgb(221, 196, 196);
}
.userlink{
    padding: 5px 3px;
    border: 1px solid black;
    font-size: 14px;
    margin-left: 3px;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.userlinkwrapper{
    margin-right: 5px;
    padding-right: 5px;
}
.userLinkLabel{
    font-size: 14px;
}
.btnCopy{
    background-color: black;
    color: white;
    padding: 5px 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid black;
}
.btnCopy:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}
.notification{
    margin-top: 10px 5px;
}
.imageSelectBtn{
    border: 1px solid black;
    background-color: white;
    padding: 7px 10px;
    cursor: pointer;
}
.imageSelectBtn:hover{
    background-color: black;
    color: white;
    padding: 7px 10px;
}
.btnDelete{
    border: 1px solid black;
    background-color: white;
    padding: 4px 12px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 40px;
    font-size: 20px;
}
.btnDelete:hover{
    background-color: black;
    color: white;
}

.formImageinput input{
    visibility: hidden;
}

.wrapImage{
    height: 175px;
    width: 175px; 
}
.userlinkwrapper{
    display: flex;
}
.userLinkLabel{
    padding-top: 7px;
}
.containerhead{
    display: flex;
    justify-content: space-between;
    max-width: 535px;
    height: 30px;
    margin:10px auto;
}

.addpostbtn{
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 5px 5px;
    cursor: pointer;
}
.addpostbtn:hover{
    background-color: white;
    color: black;
}

.wrapImage:hover{
    filter: blur(1px);
    -webkit-filter: blur(1px);
    cursor: pointer;
}

.wrapText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.itemWrap{
    position: relative;
    text-align: center;
    color: white;
}

.containerOverlay{
    backdrop-filter: blur(3px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.overlayForm{
    position: fixed;
    z-index: 1001;
    background-color: whitesmoke;
    top: 20%;
    left: 26%;
    padding: 20px 60px;
    box-shadow: 4px 6px 10px lightgray;
}

.formLabels{
    display: block;
    margin: 10px 0px;
    font-size: 11px;
}

.formInputs{
    width: 500px;
    height: 40px;
    padding: 0px 20px;
    outline: rgba(111, 66, 66, 0.675);
    border: 1px solid black;
}
.btnCancel{
    font-size: 20px;
    color: black;
    margin-right: 40px;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 10px;
}
.btnCancel:hover{
    background-color: black;
    color: white;
    padding: 5px 10px;
}
.btnSave{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid black;
}

.btnSaveNotActive{
    background-color: gray;
    color: rgb(202, 189, 189);
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid white;
    pointer-events: none;
}

.btnSave:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}
.formBtns{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-top: 20px;
}
.image{
    height: 175px;
    width: 175px;
    object-fit: contain;
}
.container{
    width: 1088px;
    margin: 0 auto;
    padding-top: 20px;;
}
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
}
.logoText{
    font-size: 14px;
    display: block;
    font-weight: 600;
}
.logoImage{
    border-radius: 50%;
    height: 95px;
    width: 95px;
}
.logo{
    margin-bottom: 30px;
}
.image:hover{
    filter: blur(1px);
  -webkit-filter: blur(1px);
}
.head{
    display: flex;
    justify-content: center;
    text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
    .content{
        width: 100%;
        margin: 10px 1px;
    }

    .container{
        width: 100%;
        padding-top: 20px;
    }
    .userlinkwrapper{
        display: flex;
        align-content: center;
    }
    .containerhead{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        height: 30px;
        margin: 0 9px;
    }
    .userlink{
        padding: 5px 2px;
        border: 1px solid black;
        font-size: 12px;
        margin: 0 1px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 170px;
    }
    .userLinkLabel{
        padding: 6px 3px 0 0;
        font-size: 12px;
    }
    .gridContainer {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2px;
    }
    .btnCopy{
        background-color: black;
        color: white;
        padding: 3px 3px;
        border: none;
        font-size: 12px;
        cursor: pointer;
        border: 1px solid black;
    }
    .userlinkwrapper{
        margin-right: 3px;
        padding-right: 2px;
    }
    .wrapImage{
        height: 100px;
        width: 100px; 
    }

    /* Dialogs */
    .overlayForm{
        position: fixed;
        z-index: 1001;
        background-color: whitesmoke;
        top: 5%;
        left: 1%;
        padding: 20px 10px;
        box-shadow: 4px 6px 10px lightgray;
    }
    .image{
        height: 100px;
        width: 100px;
        object-fit: contain;
    }

    .formInputs{
        width: 250px;
        height: 30px;
        padding: 0px 10px;
        outline: rgba(111, 66, 66, 0.675);
        border: 1px solid black;
    }
    .btnCancel{
        font-size: 16px;
        color: black;
        margin-right: 20px;
        font-weight: 500;
        cursor: pointer;
        padding: 5px 10px;
    }
    .btnCancel:hover{
        background-color: black;
        color: white;
        padding: 5px 10px;
    }
    .btnSave{
        background-color: black;
        color: white;
        padding: 5px 10px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        border: 1px solid black;
    }
    
    .btnSaveNotActive{
        background-color: gray;
        color: rgb(202, 189, 189);
        padding: 5px 10px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        border: 1px solid white;
        pointer-events: none;
    }
    
    .btnDelete{
        border: 1px solid black;
        background-color: white;
        padding: 4px 12px;
        cursor: pointer;
        font-weight: 500;
        margin-right: 40px;
        font-size: 16px;
    }
    .formBtns{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
}

@media only screen and (min-device-width : 402px) and (max-device-width : 600px){
    .content{
        width: 100%;
        margin: 10px 1px;
    }

    .container{
        width: 100%;
        padding-top: 20px;
    }
    .userlinkwrapper{
        display: flex;
        align-content: center;
    }
    .containerhead{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        height: 30px;
        margin: 0 4px;
    }
    .userlink{
        padding: 5px 2px;
        border: 1px solid black;
        font-size: 12px;
        margin: 0 1px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 240px;
    }
    .userLinkLabel{
        padding: 6px 3px 0 0;
        font-size: 12px;
    }
    .gridContainer {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 3px;
    }
    .btnCopy{
        background-color: black;
        color: white;
        padding: 3px 3px;
        border: none;
        font-size: 12px;
        cursor: pointer;
        border: 1px solid black;
    }
    .userlinkwrapper{
        margin-right: 3px;
        padding-right: 2px;
    }
    .wrapImage{
        height: 130px;
        width: 130px; 
    }

    /* Dialogs */
    .overlayForm{
        position: fixed;
        z-index: 1001;
        background-color: whitesmoke;
        top: 5%;
        left: 1%;
        padding: 20px 10px;
        box-shadow: 4px 6px 10px lightgray;
        width: 100%;
    }
    .image{
        height: 100px;
        width: 100px;
        object-fit: contain;
    }

    .formInputs{
        width: 350px;
        height: 30px;
        padding: 0px 10px;
        outline: rgba(111, 66, 66, 0.675);
        border: 1px solid black;
    }
    .btnCancel{
        font-size: 16px;
        color: black;
        margin-right: 20px;
        font-weight: 500;
        cursor: pointer;
        padding: 5px 10px;
    }
    .btnCancel:hover{
        background-color: black;
        color: white;
        padding: 5px 10px;
    }
    .btnSave{
        background-color: black;
        color: white;
        padding: 5px 10px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        border: 1px solid black;
    }
    
    .btnSaveNotActive{
        background-color: gray;
        color: rgb(202, 189, 189);
        padding: 5px 10px;
        border: none;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        border: 1px solid white;
        pointer-events: none;
    }
    
    .btnDelete{
        border: 1px solid black;
        background-color: white;
        padding: 4px 12px;
        cursor: pointer;
        font-weight: 500;
        margin-right: 30px;
        font-size: 16px;
    }
    .formBtns{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
    }
}
